
<div class="col-sm-6">
	<div class="form-group">
		<div class="col-xs-5 text-right">
			<label for="exampleInputEmail1">Email address</label>
		</div>

		<div class="col-xs-6">
			<input id="form_mail" type="email" class="form-control keyboard_fix_input"  placeholder="Enter email" ng-model="formCrea.input_nom_ean" ng-virtual-keyboard="{showInMobile: true, imageURI: 'img/keyboard.png'}">
		</div>
		<!--<span ng-click="popKeyboard('form_mail', 'layout_mail')"><img src="img/keyboard.png" style="cursor:pointer;"></img></span>-->
	</div>

	<div class="form-group">
		<div class="col-xs-5 text-right">
			<label for="exampleInputPassword1">Password</label>
		</div>
		
		<div class="col-xs-6">
			<input id="form_password" type="password" class="form-control keyboard_fix_input"  placeholder="Password" ng-model="formCrea.input_password" ng-virtual-keyboard="{showInMobile: true, imageURI: 'img/keyboard.png'}">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-5 text-right">
			<label for="exampleInputPassword1">number</label>
		</div>

		<div class="col-xs-6">
			<input id="form_number" type="number" step="0.01" class="form-control keyboard_fix_input" placeholder="number" ng-model="formCrea.input_number" ng-virtual-keyboard="{kt: 'Numerico', showInMobile: true, imageURI: 'img/keyboard.png'}">
		</div>
		<!--<span ng-click="popKeyboard('form_number','layout_number1')"><img src="img/keyboard.png" style="cursor:pointer;"></img></span>-->
	</div>


</div>
	